input{
    margin: 1em 0;
    text-align: start;
    font-size: 1.2em !important;
}

.ql-container.ql-snow {
    margin-bottom: 1em;
    font-size: 1em;
    min-height: 200px;
}
.ql-toolbar.ql-snow {
    background-color: white;
}

.note-list, 
.quote-list,
.note-details .card {
    background-color: transparent !important;
}

.note-list, 
.quote-list {
    cursor: pointer;
}

.note-list span,
.quote-list span {
    font-size: 1rem !important;
    color: var(--dark-color) !important;
}

.quote-list p {
    margin-bottom: 0;
}

.note-details .card,
.quote-details .card {
    border: none !important;
}

.quote-details p {
    margin-bottom: 0;
}

.note-details .list-group-item,
.quote-details  .list-group-item{
    border: transparent;
    border-radius: 0;
    margin-top: 1em;
    padding: 0.3em;
}
