@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Light Mode (default) */
:root {
  --background-light: #FFFFFF;
  --text-primary-light: #333333;
  --accent-color: #3871B3;
  --interactive-elements: #e05200;
  --background-dark: #121212;
  --text-primary-dark: #E0E0E0;
}

/*Stagioni*/
.season-spring {
  --season-color-1: #77DD77; /* Verde Menta */
  --season-color-2: #FF6961; /* Rosso Corallo */
}

.season-summer {
  --season-color-1: #FFD700; /* Giallo Oro */
  --season-color-2: #87CEEB; /* Azzurro Cielo */
}

.season-autumn {
  --season-color-1: #FF8C00; /* Arancione Scuro */
  --season-color-2: #8B4513; /* Marrone */
}

.season-winter {
  --season-color-1: #ADD8E6; /* Azzurro Chiaro */
  --season-color-2: #708090; /* Grigio Ardesia */
}


#app {
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.btn{
  font-size: 0.8em;
}

.light {
  background-color: var(--background-light) !important;
  color: var(--text-primary-light) !important;
}

.dark{
  background-color: var(--background-dark) !important;
  color: var(--text-primary-dark) !important;
}

.interactive-bg {
  background-color: var(--interactive-elements) !important;
  color: white !important;
}

.interactive-txt {
  color: var(--interactive-elements) !important;
}

.accent-bg {
  background-color: var(--accent-color) !important;
  color: white !important;
}

.accent-txt {
  color: var(--accent-color) !important;
}

.title-font {
  font-family: "Playfair Display", serif;
}

a {
  color: var(--accent-color) !important;
  font-weight: bold !important;
}