@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --background: #121212;
  --text-primary: #FFFFFF;
  --accent-color: #f94144;

  --spring-color-1: #e0f2e9; /* Verde Menta */
  --spring-color-2: #d34e67; /* Rosso Corallo */

  --summer-color-1: #f7f1c7; /* Giallo Oro */
  --summer-color-2: #4c8bb7; /* Azzurro Cielo */

  --autumn-color-1: #d4b090; 
  --autumn-color-2: #5e3b1f; /* Marrone */

  --winter-color-1: #e3f0f8; /* Azzurro Chiaro */
  --winter-color-2: #606f7b; /* Grigio Ardesia */
}


.app {
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: var(--text-primary);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn{
  font-size: 0.8em;
}

.bg-main {
  background-color: var(--background);
  color: var(--text-primary);
}

.text-main {
  color: var(--text-primary);
}

.accent-bg {
  background-color: var(--accent-color) !important;
  color: var(--background) !important;
  font-weight: bold;
  border: transparent;
}

.accent-txt {
  color: var(--accent-color) !important;
}


.title-font {
  font-family: "Playfair Display", serif;
}

a {
  color: var(--accent-color) !important;
}

.glass-bg {
  background: rgba(18, 18, 18, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  color: var(--text-primary);
}

.spring-theme {
  background-image: url(assets/1.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.summer-theme {
  background-image: url(assets/2.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.autumn-theme {
  background-image: url(assets/3.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
.winter-theme {
  background-image: url(assets/4.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
scrollbar-width: none;
-ms-overflow-style: none;
}

::placeholder {
  color: var(--text-primary) !important;
  opacity: 0.3 !important;
}

::-ms-input-placeholder { 
  color: var(--text-primary);
  opacity: 0.3 !important;
}

input:focus {
  box-shadow: none !important;
}
