.dashboard-container {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}

.dashboard-container .content {
    height: 100%;
    padding-bottom: 30px;
    margin: 0 auto;
}

@media (max-width: 767px) {

  .dashboard-container .content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


@media (min-width: 768px) {
  .dashboard-container .content {
    padding: 30px 50px;
  }
}
