.dashboard-container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.dashboard-container .content {
    height: auto;
}

@media (max-width: 767px) {
  .dashboard-container .content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


@media (min-width: 768px) {
  .dashboard-container .content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
