.book-item .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.book-item .book-card {
  width: 50%;
  border-radius: 20px;
}


.book-item .card-text {
  font-size: 1.2em;
}

.notes-container,
.quotes-container {
  flex-direction: column;
}

.notes-container.card,
.quotes-container.card {
  height: auto;
}


.start-button {
  font-size: 1.5em;
  border-radius: 15px;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@media (max-width:1200px) {
  .book-item .book-card {
    width: 70%;
    border-radius: 20px;
  }
}

@media (max-width: 992px) {
  .book-item .book-card {
    flex-direction: row;
    height: 200px;
  }

  .book-item .book-card {
    width: 100%;
  }

  .book-item .book-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1em;
    padding-top: 1em;
  }


  .book-item .card-img-container {
    max-width: 120px;
    padding-top: 0;
  }

  .book-item .card-img {
    width: 100%;
    height: 200px;
  }
}

