.book-item .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.book-item .book-card {
  width: 80%;
  border-radius: 20px;
}


.book-item .card-img-container {
  width: 100%;
  padding-top: 150%;
  position: relative;
}

.book-item .card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  overflow: hidden;
}

.book-item .book-card .card-title {
  font-size: 1.4em !important;
  font-weight: bold !important;
}

.book-item .card-text {
  font-size: 1.2em;
}

.notes-container {
  flex-direction: column;
}

.notes-container.card,
.quotes-container.card {
  height: auto;
}


.start-button {
  font-size: 1.5em;
  border-radius: 15px;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@media (max-width: 992px) {
  .book-item .book-card {
    flex-direction: row;
    height: 200px;
  }

  .book-item .book-card {
    width: 100%;
  }

  .book-item .book-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    text-align: center;
  }

  .book-item .card-img-container {
    max-width: 120px;
  }

  .book-item .card-img {
    width: 100%;
    height: 200px;
  }
}

