.welcome-container {
    height: 100%;
    background-color: var(--dark-color);
    color: var(--light-color);

}

.welcome-container .row {
    height: 100%;
}

.welcome-container input {
    border: 1px solid var(--light-color);
    text-align: center;
}

#welcome-column, #form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-column p{
    font-size: 2em;
}

#welcome-column h1 {
    font-size: 4em;
}