.add-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.add-card:hover {
  transform: scale(1.05);
}

.add-image {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 3rem;
}

@media (min-width: 768px) {
  .add-card .book-overlay {
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .add-card:hover .book-overlay {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .add-card .book-image-container {
    height: 100%;
  }
}
