.book-list {
  display: flex;
}

.book-list .book-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.book-card .card-body {
  padding: 1em 0.8em 0.3em 0.8em;
}

.book-list .card-img-container {
    width: 100%;
    padding-top: 133.33%; 
    position: relative;
  }
  
.book-list .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    border: 2px solid var(--accent-color);
  }


.book-list .book-card .card-title {
    font-weight: bold !important;
  }
  
.book-list .card-text {
    font-size: 0.9em; 
    margin: 0;
  }


  @media (max-width: 768px) {
    .book-list .book-card {
      flex-direction: row;
      height: 200px;
    }

    .book-list .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 1.3em;
      text-align: center;
    }
  
    .book-list .card-img-container {
      max-width: 120px;
    }
  
    .book-list .card-img {
      width: 100%;
      height: 200px;
    }

    .book-list .book-card .card-title {
      font-size: 1.6em !important;
    }
  }

  