
.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

.navbar-toggler-icon {
    color: var(--accent-color);
}

.fixed-top {
    padding: 0.5em 2em !important;
    border-radius: 0 0 40px 40px  !important;
}

.fixed-bottom {
    border-radius: 40px 40px 0 0 !important;
    padding: 0.5em 2em;
}


nav.fixed-bottom i{
    font-size: 1.5em;
}

.logo {
    height: 50px;
    margin-right: 1em;
}