
.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

.navbar-toggler-icon {
    background-image: none;
}

.bi-list {
    color: var(--accent-color) !important;
    font-size: 2rem;
}

.fixed-top {
    padding: 0.8em 1em !important;
    font-size: 1em;
}

.fixed-bottom {
    padding: 0.8em 1em;
    font-size: 1.3em;
}

.fixed-bottom a {
    padding: 0;
}
.logo {
    height: 50px;
    margin-right: 1em;
}