.offcanvas {
    background-color: #ECEFF1;
}

.offcanvas-header {
    display: flex;
    align-items: start;
}

.btn-offcanva,
.btn-offcanva:hover{
    background-color: transparent  !important;
    border: none;
    font-size: 2em;
    box-shadow: none;
}

.btn-close {
    background-image: url(../../../assets/btn-close.svg);
    font-size: 2em;
    box-shadow: none;
}

.btn-close:focus {
    box-shadow: none;
}

.logo {
    height: 100px;
    margin-right: 1em;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    z-index: 1045; 
    overflow-y: auto; 
}
