.book-import-container div {
  display: flex;
  justify-content: space-between;
}

.book-import-container input,
.book-import-container select,
.book-import-container textarea,
.book-import-container textarea:focus,
.book-import-container select:focus {
  width: 60%;
  margin: 0;
}

.book-import-container label {
  width: 40%;
}

@media (max-width: 992px) {
  .book-import-container div {
    display: block;
  }

  .book-import-container input,
  .book-import-container select,
  .book-import-container textarea,
  .book-import-container textarea:focus,
  .book-import-container select:focus {
    width: 100%;
  }
}
